

<div class="jumbotron">
  <h1>Pin your Interests!</h1>
    <div class="login">
      <% if user_signed_in? %>
      <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <% end %>

    </div>
</div>
